:root {
	--main-background: #48A6A7;
	--nav-bar-color: #7D8C8C;
	--highlight-color: green;
	--menu-color: #D3D3D3;
	--container-border-radius: 8px;
	--container-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}

body {
	background-color: var(--main-background);
	font-family: -apple-system, "Helvetica Neue", sans-serif;
	font-size: 1.2rem;
	text-decoration: none;
}

h1 {
	font-family: 'Bebas Neue', sans-serif;
	color: #F2EFE7;
}

#relatorios_detalhados h2 {
	font-family: 'Bebas Neue', sans-serif;
	color: #F2EFE7;
	margin-top: 6vh;
	margin-bottom: 0;
	text-align: left;
}

button {
	border: none;
	border-radius: var(--container-border-radius);
	cursor: pointer;
	color: white;
}

#confirmar {
	background-color: #28a745;
}

#cancelar,
#clearConditions {
	background-color: #dc3545;
}

#status {
	background-color: #FF8989;
}

#next-rega-btn {
	background-color: #28a745;
	transition: background-color 0.5s;
}

footer.menu-inferior {
	border-top: 2px solid #A1DD70;
}

.container,
.regas-container,
.settings-container,
.regas-agendadas,
.monitorizacao-container,
.automatizacao-container,
.type-cond-container,
.size-cond-container,
.report-container {
	background-color: var(--menu-color);
	border-radius: var(--container-border-radius);
	box-shadow: var(--container-shadow);
	display: inline-block;
	padding: 5vw;
	margin: 2vh;
}

.regas-container {
	padding: 1vw;
}

/* Container for the toggle switch */
.settings-container {
	padding: 1vw;
}

#regas-agendadas {
	padding: 1vh;
}

svg {
	fill: white;
}

.selected {
	fill: var(--highlight-color);
}

.report-list li {
	list-style: none;
	border-radius: var(--container-border-radius);
}

.report-container a {
	text-decoration: inherit;
	color: inherit;
}

.charts canvas {
	background-color: var(--menu-color);
	border-radius: var(--container-border-radius);
}

footer.menu-inferior {
	background-color: var(--nav-bar-color);
}

.back {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

/*---------------------------------------------
-----------------------------------------------
----------------------------------------------*/

#zona {
	font-size: 20px;
}

#status.ativado {
	background-color: #A1DD70;
}

.dados {
	margin-top: 20px;
}

.dado {
	margin-bottom: 15px;
}

.label {
	font-weight: bold;
}

.valor {
	color: #007bff;
}

input[type="datetime-local"],
select {
	padding: 8px;
	border-radius: var(--container-border-radius);
	border: 1px solid;
	font-size: 1em;
}

#next-rega-btn:active {
	background-color: #218838;
}

.ligar-container,
.desligar-container,
.add-cond-container {
	margin: 2vh 0;
	border: 2px solid black;
	border-radius: var(--container-border-radius);
}

.ligar-container button,
.desligar-container button {
	margin-bottom: 20px;
	padding: 10px;
	border: 2px solid #4CAF50;
	background-color: #f2f9f2;
	color: #333;
	font-weight: bold;
	border-radius: var(--container-border-radius);
}

.add-cond h1 {
	padding-top: 20px;
	margin-bottom: 0;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #F2EFE7;
}

input[type="number"] {
	margin-left: 10px;
	border: none;
	border-bottom: 2px solid black;
	outline: none;
	font-size: 16px;
	padding: 5px;
	width: 150px;
	background: transparent;
}

input[type="number"]::placeholder {
	color: black;
}

#condicao-exibicao {
	padding: 10px;
	border: 2px solid #4CAF50;
	background-color: #f2f9f2;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	border-radius: 8px;
	text-align: center;
}

.ligar-container div,
.desligar-container div {
	padding: 10px;
	border: 2px solid #4CAF50;
	background-color: #f2f9f2;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	border-radius: 8px;
	text-align: center;
}


.regas-container h2 {
	font-size: 20px;
	color: black;
	margin-bottom: 10px;
}

.linha-zona {
	color: white;
	background-color: #228B22;
	border-radius: var(--container-border-radius);
}

/* Style for the switch container */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
}

/* Hide the default checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}


/* Style for the switch container */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
}

/* Hide the default checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* Style for the slider (the round part of the switch) */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 34px;
}

/* The circle inside the slider */
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	border-radius: 50%;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

/* When the checkbox is checked */
input:checked+.slider {
	background-color: #4CAF50;
	/* Apple green color */
}

/* Move the circle to the right when checked */
input:checked+.slider:before {
	transform: translateX(26px);
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 34px;
}

/* The circle inside the slider */
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	border-radius: 50%;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

/* When the checkbox is checked */
input:checked+.slider {
	background-color: #4CAF50;
	/* Apple green color */
}

/* Move the circle to the right when checked */
input:checked+.slider:before {
	transform: translateX(26px);
}