:root {
	--main-background: #48A6A7;
	--nav-bar-color: #7D8C8C;
	--highlight-color: green;
}

body {
	background-color: var(--main-background);
	font-family: -apple-system, "Helvetica Neue", sans-serif;
	font-size: small;
}

svg {
	fill: white;
}

.selected {
	fill: var(--highlight-color);
}

.relatório {
	background-color: #D3D3D3;
	margin: 2%;
}

.relatórios li {
	list-style: none;
	border-radius: 8px;
}

.relatório a {
	text-decoration: none;
	color: inherit;
}

.charts canvas {
	background-color: #D3D3D3;
	border-radius: 8px;

}

footer.menu-inferior {
	background-color: var(--nav-bar-color);

}