body {
	margin: 8vh 10vw;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;

	text-align: center;
	display: flex-start;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 0;
}

#relatorios_detalhados {
	padding-bottom: 800px;
}

.relatórios {
	display: grid;
}

.relatório a {
	display: flex;
	align-items: start;
	text-align: justify;
	flex-direction: column;
}

.relatório a p {
	padding: 5%;
}